{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block submenu %}
    <nav class="submenu">
    <ul class="nav mx-auto wrapper-center">
        <li class="nav-item">
            <a class="nav-link{% if app.request.pathinfo == '/account' %} active{% endif %}" href="{{ path('app_account') }}">Aperçu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.pathinfo == '/account/deal' %} active{% endif %}" href="{{ path('app_account_deal') }}">Deals({{ posted_deals }})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.pathinfo == '/account/saveDeal' %} active{% endif %}" href="{{ path('app_account_saveDeal') }}">Saved Deals()</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if app.request.pathinfo == '/account/alert' %} active{% endif %}" href="{{ path('app_account_alert') }}">Alerts()</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block body %}
    <div class="row g-0 mx-auto p-2 wrapper-center">
        <div class="col-md-3 border bg-white rounded p-2">
            <div class="wrapper">
                <h1 class="fs-4"><i class="fas fa-chart-simple pe-2"></i>Statistics</h1>
                <p>Number of posted deals: {{ posted_deals }}</p>
                <p>Number of posted comments: {{ posted_comments }}</p>
                <p>Rating of the hottest posted deal: {{ hottest_rating }}</p>
                <p>Average rating of deals posted over 1 rolling year: {{ average_rating }}</p>
                <p>Percentage of posted deals that became hot: {{ (percentage_hot_deals * 100)|number_format(0, '.', '') }}%</p>
            </div>
        </div>
        <div class="col-md-9 border bg-white rounded py-2">
            <div class="wrapper">
                <h1 class="fs-4"><i class="fas fa-star pe-2"></i>Badges</h1>
                <div class="badge-progress d-flex align-items-center border-top border-bottom">
                    <div class="badge-progress-hexagon p-2">
                        <image src="{{ asset('build/images/supervisor.png') }}" alt="Supervisor badge" />
                    </div>
                    <div class="badge-progress-bar w-100 ms-1 pe-3">
                        <div class="badge-progress-name fw-bold">Supervisor</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ (rated_deals / 300) * 100 }}%" aria-valuenow="{{ rated_deals }}" aria-valuemin="0" aria-valuemax="300"></div>
                        </div>
                        <div class="badge-progress-desc">You voted on 300 deals</div>
                    </div>
                </div>
                <div class="badge-progress d-flex align-items-center border-bottom">
                    <div class="badge-progress-hexagon p-2">
                        <image src="{{ asset('build/images/cobaye.png') }}" alt="Cobaye badge" />
                    </div>
                    <div class="badge-progress-bar w-100 ms-1 pe-3">
                        <div class="badge-progress-name fw-bold">Cobaye</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ (posted_deals / 10) * 100 }}%" aria-valuenow="{{ posted_deals }}" aria-valuemin="0" aria-valuemax="10"></div>
                        </div>
                        <div class="badge-progress-desc">You have posted at least 10 deals</div>
                    </div>
                </div>
                <div class="badge-progress d-flex align-items-center border-bottom">
                    <div class="badge-progress-hexagon p-2">
                        <image src="{{ asset('build/images/report.png') }}" alt="Internship report badge" />
                    </div>
                    <div class="badge-progress-bar w-100 ms-1 pe-3">
                        <div class="badge-progress-name fw-bold">Internship report</div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ (posted_comments / 10) * 100 }}%" aria-valuenow="{{ posted_comments }}" aria-valuemin="0" aria-valuemax="10"></div>
                        </div>
                        <div class="badge-progress-desc">You have posted at least 100 comments</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
