{% extends 'base.html.twig' %}

{% block title %}Account - Settings{% endblock %}

{% block submenu %}
    <div class="user-bar">
        <div class="user-info mx-auto wrapper-center">
            <img src="https://picsum.photos/200" alt="Profile Picture" class="profile-picture me-2">
            <div class="user-details">
                <p class="user-name">{{ app.user.pseudo }}</p>
                <p class="user-status">Status: Online</p>
            </div>
            <div class="settings-icon ms-4">
                {% if app.request.attributes.get('_route') == 'app_account_settings' %}
                    <a href="#" onclick="window.history.back(); return false;">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                {% else %}
                    <a href="{{ path('app_account_settings') }}" class"btn nav-link menu-button shape-circle d-flex align-items-center">
                        <i class="fas fa-cog"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{# {% block submenu %}
    <div class="user-bar">
        <div class="user-info mx-auto wrapper-center">
            <img src="https://picsum.photos/200" alt="Profile Picture" class="profile-picture me-2">
            <div class="user-details">
                <p class="user-name">{{ app.user.pseudo }}</p>
                <p class="user-status">Status: Online</p>
            </div>
            <div class="settings-icon">
                <a href="{{ path('app_account_settings') }}">
                    <i class="fas fa-cog"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %} #}

{% block body %}
    <div class="row g-0 mx-auto p-2 wrapper-center">
        <h1>Mes paramètres</h1>

        <!-- Photo de profil -->
        {# <div class="d-flex justify-content-center align-items-center mb-3">
            <img src="https://picsum.photos/500" alt="Photo de profil" class="profile-picture rounded-circle">
        </div> #}

        <!-- Champ pseudo -->
        <div class="mb-3">
            <label for="pseudo" class="form-label">Pseudo:</label>
            <div class="d-flex">
                <form action="{{ path('app_account_settings_update_pseudo') }}" method="post" class="d-inline-block">
                    <input type="text" id="pseudo" name="pseudo" class="form-control me-2" value="{{ app.user.pseudo }}">
                    <button type="submit" class="btn btn-primary btn-edit-field">Modifier</button>
                </form>
            </div>
        </div>


        {# <div class="mb-3">
            <label for="pseudo" class="form-label">Pseudo:</label>
            <div class="d-flex">
                <input type="text" id="pseudo" name="pseudo" class="form-control me-2" value="{{ app.user.pseudo }}">
                <form action="{{ path('app_account_settings_update_pseudo') }}" method="post" class="d-inline-block">
                    <button type="submit" class="btn btn-primary btn-edit-field">Modifier</button>
                </form>
            </div>
        </div> #}


        <!-- Champ email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <div class="d-flex">
                <form action="{{ path('app_account_settings_update_email') }}" method="post" class="d-inline-block">
                    <input type="text" id="email" name="email" class="form-control me-2" value="{{ app.user.email }}">
                    <button type="submit" class="btn btn-primary btn-edit-field">Modifier</button>
                </form>
            </div>
        </div>

        {# <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <div class="d-flex">
                <input type="email" id="email" name="email" class="form-control me-2" value="{{ app.user.email }}">
                <form action="{{ path('app_account_settings_update_email') }}" method="post" class="d-inline-block">
                    <button type="submit" class="btn btn-primary btn-edit-field">Modifier</button>
                </form>
            </div>
        </div> #}

        <!-- Champ mot de passe -->
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe:</label>
            <div class="d-flex">
                <form action="{{ path('app_account_settings_update_password') }}" method="post" class="d-inline-block">
                    <input type="password" id="password" name="password" class="form-control me-2" value="********">
                    <button type="submit" class="btn btn-primary btn-edit-field">Modifier</button>
                </form>
            </div>
        </div>

        <!-- Bouton supprimer le compte -->
        <div>
            <form id="delete-account-form" action="{{ path('app_account_settings_delete') }}" method="post">
                <button type="submit" class="btn btn-danger btn-delete-account" onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?')">Supprimer mon compte</button>
            </form>
        </div>

        <!-- Scripts pour gérer les interactions avec les boutons -->
        <script>
            // Votre code JavaScript ici
        </script>
    </div>
{% endblock %}
