{% extends 'base.html.twig' %}

{% block title %}Hello HotController!{% endblock %}

{% block body %}
    <ul class="nav nav-underline mx-auto p-2 border-bottom">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">À la une</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Hot</a>
        </li>
    </ul>
    <div class="row g-0 mx-auto p-2">
        <div class="col-sm-6 col-md-8">
            <h1>Hot deals</h1>
            <ul>
                {% for deal in deals %}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="..." class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h2>{{ deal.Title }}</h2>
                                    <p>{{ deal.Description }}</p>
                                    <p>Price: {{ deal.Price }}</p>
                                    <p>Expiration date: {{ deal.ExpirationDate|date('d/m/Y') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <div class="col-6 col-md-4">
            <h1>Most thundered</h1>

            <ul>
                {% for deal in deals %}
                    <li>
                        <h2>{{ deal.Title }}</h2>
                        <p>{{ deal.Description }}</p>
                        <p>Price: {{ deal.Price }}</p>
                        <p>Expiration date: {{ deal.ExpirationDate|date('d/m/Y') }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}