<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DealStorm - Feel the Thunder of Deals!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}">
        {% block stylesheets %}
        {# TODO enlever le cdn #}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512" crossorigin="anonymous">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}
        {% block submenu %}
            <nav class="submenu">
                <ul class="nav mx-auto wrapper-center">
                    <li class="nav-item">
                        <a class="nav-link{% if app.request.pathinfo == '/home' %} active{% endif %}" href="{{ path('app_home') }}">À la une</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if app.request.pathinfo == '/hot' %} active{% endif %}" href="{{ path('app_hot') }}">Hot</a>
                    </li>
                </ul>
            </nav>
            {% endblock %}
        {% block body %}{% endblock %}
        {% include 'footer.html.twig' %}
    </body>
</html>
