<nav class="navbar sticky-top justify-content-between bg-darkgrey">
    <div class="navbar-menu d-flex flex-row">
        <a class="navbar-brand m-0" href="{{ path('app_home') }}"><img class="logo" src="{{ asset('build/images/logo-header.png') }}" alt="Logo"></a>
        <div class="navbar-links">
            <ul class="navbar-nav flex-row mr-auto fw-bold">
                <li class="nav-item ms-3 me-2">
                    <a class="nav-link" href="{{ path('app_home') }}">Good deals</a>
                </li>
                <li class="nav-item ms-2 me-3">
                    <a class="nav-link" href="{{ path('app_home') }}">Coupon codes</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-utilities d-flex flex-row">
        <form class="d-flex" role="search">
            <input class="form-control me-2 shape-circle" type="search" placeholder="Search..." aria-label="Search">
        </form>
        {% if app.user %}
            <li class="nav-item">
                <a href="{{ path('app_logout') }}" class="btn btn-danger shape-circle">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a href="{{ path('app_login') }}" class="btn btn-primary shape-circle">Login</a>
            </li>
            <li class="nav-item">
                <a href="#" class="btn btn-primary shape-circle">Post...</a>
            </li>
        {% endif %}
    </div>
</nav>